In [ ]:
import requests
import time
import pandas as pd
import numpy as np

# Data extraction

In [ ]:
token = '7890956e-a2bf-42ef-863e-83cdaae50174'
headers={'accept':'application/json', 'X-API-KEY': token}
films_path = "/content/drive/MyDrive/Учеба/2 сем/NLP/HWs/HW3/andru_preprocessing/film_num_list.txt"
lst_success = 2728

In [ ]:
films = []

In [ ]:
class Film:
    def __init__(self, id, name, rewiews):
        self.id = id
        self.name = name
        self.rewiews = rewiews

In [ ]:
def get_film(id):
    response = requests.get('https://kinopoiskapiunofficial.tech/api/v2.2/films/{0}'.format(id), headers=headers)
    filmJson = response.json()
    if 'error' in filmJson:
      print(filmJson)
      print(int(1) / int(0))
    if 'nameRu' not in filmJson:
      return None
    name = filmJson['nameRu']
    # print(filmJson)
    reviews = []
    reviewsCount = filmJson['reviewsCount']
    count = reviewsCount / 20 if reviewsCount % 20 == 0 else reviewsCount / 20 + 1
    for i in range(1, int(count) + 1):
        response = requests.get('https://kinopoiskapiunofficial.tech/api/v1/reviews?filmId={0}&page={1}'.format(id, i), headers=headers)
        j = response.json()
        for r in j['reviews']:
            reviews.append(r)
        time.sleep(0.005)
    return Film(id, name, reviews)

In [ ]:
df = pd.read_csv(films_path, header=None)

In [ ]:
f = get_film(1793)

In [ ]:
f.rewiews

# necessary column names
reviewDescription
reviewType
userNegativeRating
userPositiveRating

In [ ]:
ids = list(df[0])
ids.sort()
for id in filter(lambda x: x > lst_success, ids):
    print('\r' + str(id), sep=' ', end='', flush=True)
    f = get_film(id)
    if f is not None:
      films.append(f)

2728{'timestamp': '2022-04-09T14:17:07.928+00:00', 'status': 402, 'error': 'Payment Required', 'path': '/api/v2.2/films/2728'}

ZeroDivisionError: ignored

In [ ]:
# Save data
films_copy = films.copy()

In [ ]:
import pandas as pd
import numpy as np

# Create empty DataFrame
columns = ['film_id', 'film_name', 'film_review', 'pos/neg', 'user_likes', 'user_dislikes']
reviews_for_csv = pd.DataFrame(columns = columns)
reviews_for_csv

Empty DataFrame
Columns: [film_id, film_name, film_review, pos/neg, user_likes, user_dislikes]
Index: []

In [ ]:
# Add reviews to dataframe
for film in films:
  film_descr = {}
  film_descr['film_name'] = film.name
  film_descr['film_id'] = int(film.id)
  for review in film.rewiews:
    film_descr['film_review'] = review['reviewDescription']
    film_descr['pos/neg'] = review['reviewType']
    film_descr['user_likes'] = int(review['userPositiveRating'])
    film_descr['user_dislikes'] = int(review['userNegativeRating'])
    reviews_for_csv = reviews_for_csv.append(film_descr, ignore_index = True)

reviews_for_csv.head()

,film_id,film_name,film_review,pos/neg,user_likes,user_dislikes
0,1794,50 первых поцелуев,Мелодрама? Хорошая мелодрама? Хорошая мелодрам...,POSITIVE,1,1
1,1794,50 первых поцелуев,Генри влюбляется в девушку из кафе Люси. Люси ...,POSITIVE,1,0
2,1794,50 первых поцелуев,Как волнительно первое свидание и сладок первы...,POSITIVE,1,0
3,1794,50 первых поцелуев,"Очень милый фильм, наполненный морем, солнцем ...",POSITIVE,0,0
4,1794,50 первых поцелуев,Добротная лирическо-любовная комедия с элемент...,POSITIVE,7,0

In [ ]:
# Save DataFrame with reviews to .csv
reviews_for_csv.to_csv('films_reviews.csv')
reviews_for_csv.shape

(6899, 6)

In [ ]:
# Copy .csv file 
%cp -av '/content/films_reviews.csv' '/content/drive/MyDrive/Учеба/2 сем/NLP/HWs/HW3'

'/content/films_reviews.csv' -> '/content/drive/MyDrive/Учеба/2 сем/NLP/HWs/HW3/films_reviews.csv'